<h1 mat-dialog-title>{{ dialogTitle }}</h1>
<div mat-dialog-content style="padding-bottom: 20px;">

  <mat-form-field appearance="outline" style="width:100% !important; margin-bottom: 10px;">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="propertyName" placeholder="e.g. phone_number">
  </mat-form-field>
  <div *ngIf="propertyName.invalid && (propertyName.dirty || propertyName.touched)" style="color: red; margin-bottom: 15px;">
    <div *ngIf="propertyName.errors.required">
      Name is required.
    </div>
    <div *ngIf="propertyName.errors.pattern">
      Only alphanumeric characters
    </div>
  </div>

  <mat-form-field appearance="outline" style="width:100% !important; margin-bottom: 10px;">
    <mat-label>Data Type</mat-label>
    <mat-select [formControl]="propertyType">
        <mat-option value="text">Text</mat-option>
        <mat-option value="number">Number</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="propertyType.invalid && (propertyType.dirty || propertyType.touched)" style="color: red; margin-bottom: 15px;">
    <div *ngIf="propertyType.errors.required">
      Type is required.
    </div>
  </div>

</div>
<div mat-dialog-actions style="margin-bottom: 15px;">
  <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onCreateClick()" cdkFocusInitial>{{ createActionBtnTxt }}</button>
</div>