<div class="row">
    <div class="col-md-6 col-sm-12">
        <h4 class="header">
            <i class="fas fa-database fa-fw" aria-hidden="true"></i>&nbsp;Data Models
        </h4>
    </div>
    <diV class="col-md-6 col-sm-12" *ngIf="isLoaded">
        <div class="input-group">
            <select class="custom-select" [(ngModel)]="selectedDataModelId" (change)="onSelectionChange()">
                <option value="" *ngIf="hasNoDataModels">Choose...</option>
                <option 
                    *ngFor="let dataModel of dataModels" 
                    [value]="dataModel.id">
                  {{ dataModel.name }}
                </option> 
            </select>
            <div class="input-group-append">
                <button class="btn btn-success" (click)="openDataModelCreationWizard(true)">
                    <i class="fas fa-plus fa-fw"></i>&nbsp;Add new model
                </button>
            </div>
        </div>
    </diV>
</div>

<div *ngIf="isLoaded">
    <div class="row" *ngIf="selectedDataModel" style="margin-top: 30px;">
        <div class="col-12">
            <h5 class="header">{{ selectedDataModel.name }}</h5>
        </div>
        <div class="col-12" style="margin-top: 15px;" *ngIf="!hasNoDataModels">
            <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedTab">
                <mat-tab label="Properties">
                    <hydb-property-list [dataModel]="selectedDataModel"></hydb-property-list>
                </mat-tab>
                <mat-tab label="Settings">
                    <hydb-datamodel-settings 
                        [dataModel]="selectedDataModel" 
                        (refresh)="loadAllDataModels()"
                        (rename)="openDataModelCreationWizard(false, selectedDataModel)">
                    </hydb-datamodel-settings>
                </mat-tab>
            </mat-tab-group>  
        </div>
    </div>
    
    <div class="row" style="margin-top: 30px;">
        <div class="col-12" *ngIf="hasNoDataModels" style="text-align: center; margin-top: 30px;">
            <p>Seems like you have any data models created currently</p>
            <p>Start creating data models by clicking on the "Add new model" button</p>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 60px;" *ngIf="!isLoaded">
    <mat-spinner style="margin: 0 auto;" [diameter]="30"></mat-spinner>
</div>